resource "github_repository" "repo_{{deployment_prefix}}" {
  name = "{{repo_name}}"
  auto_init = true
  homepage_url = "https://{{hostname}}"
  description = "Site web de {{deployment_prefix}}"
  has_downloads = true
  has_issues = true
  has_projects = true
  has_wiki = true
  security_and_analysis {
    secret_scanning {
      status = "enabled"
    }
    secret_scanning_push_protection {
      status = "enabled"
    }
  }
  topics = [ "grav" ]
  vulnerability_alerts = true
  visibility = "public"
}

resource "github_repository_webhook" "webhook_{{deployment_prefix}}" {
  repository = github_repository.repo_{{deployment_prefix}}.name

  configuration {
    url          = "https://{{hostname}}/_git_webhook"
    content_type = "json"
    insecure_ssl = false
  }

  active = true

  events = ["push"]
}

resource "github_repository_dependabot_security_updates" "dependabot_{{deployment_prefix}}" {
  repository  = github_repository.repo_{{deployment_prefix}}.name
  enabled     = true
}

resource "github_repository_collaborators" "colaborators_{{deployment_prefix}}" {
  repository = github_repository.repo_{{deployment_prefix}}.name

  team {
    permission = "admin"
    team_id = "sre"
  }
}