name: Build and Push Wiki Cedille Docker Image

on:
  push:
    branches:
      - master
    paths:
      - 'wiki/**'
  pull_request:
    branches:
      - master
    paths:
      - 'wiki/**'

jobs:
  markdown-repo-standards:
    uses:
      clubcedille/cedille-workflows/.github/workflows/markdown-lint.yml@master

  build-push-ghcr:
    needs: markdown-repo-standards
    uses: ClubCedille/cedille-workflows/.github/workflows/build-push-ghcr.yaml@master
    with:
      container-name: 'wiki-cedille'
      pr-head-sha: ${{ github.event.pull_request.head.sha || '' }}
      pr-head-ref: ${{ github.event.pull_request.head.ref || '' }}
      context: '.'
      file: 'wiki/Dockerfile'
    secrets: inherit
